.swiper__arrow {
    display: none;
}

@media screen and (max-width: 767px) {
    .swiper__arrow {
      display: block;
      position: absolute;
      background-color: transparent;
      border: none;
      width: 1.56453715776vw;
      height: 3.38983050847vw;
      background-image: url(../../../images/_.png);
      background-size: 100% 100%;
      cursor: pointer;
    }
}  
  