.feedback__main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    gap: 5vw;
    margin-bottom: 5vw;
}

@media screen and (max-width: 767px) {
    .feedback__main {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
}
  