.feedback__item {
    font-size: 0.9375vw;
    color: #121212;
    font-weight: 300;
    font-style: normal;
}

@media screen and (max-width: 767px) {
    .feedback__item {
      font-size: 3.51134289439vw;
    }
}