.swiper__nav {
    width: 4.166666vw;
    position: absolute;
    left: 21.3541667vw;
    bottom: 1.5625vw;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 767px) {
    .swiper__nav {
      width: 16.9491525424vw;
      bottom: 5.21512385919vw;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
}  