.root {
    margin: 0;
    padding: 0;
    background-color: #f4f2f2;
}

.page {
    box-sizing: border-box;
    width: 100vw;
    margin: 0 auto;
	font-family: 'Myriad Pro';
    color: #000;
}

.navigation {
    background-color: #00aa4b;
}

.navigation__container {
    width: 80.5729167vw;
    min-height: 2.5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.83333vw;
    font-weight: normal;
	font-style: normal;
}

.nav__list {
    width: 62.2395833vw;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav__item {
    position: relative;
}

.nav__band {
    width: 0.05208333vw;
    height: 1.458333vw;
    border: none;
    position: absolute;
    top: -0.625vw;
    right: -1.19791667vw;
    background-color: #40bf79;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 0.83333vw;
    font-weight: normal;
	font-style: normal;
}

.contacts {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.26041667vw;
}

.contacts__description {
    margin: 0;
    align-self: flex-end;
}

.contacts__img {
    align-self: center;
}

.contacts__img_type_email {
    width: 1.14583333vw;
    height: 0.78125vw;
    background-image: url(./images/email.png);
    background-size: 100% 100%;
    background-position: center;
}

.contacts__img_type_telephone {
    width: 0.83333vw;
    height: 1.04166vw;
    background-image: url(./images/telephone.png);
    background-size: 100% 100%;
    background-position: center;
}

.search {
    background-color: #e8e7e7;
}

.search__container {
    width: 80.5729167vw;
    min-height: 3.3333vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__menu {
    display: none;
}

.search__part {
    width: 62.2395833vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.3645833vw;
    text-decoration: none;
}

.logo__img {
    width: 2.083333vw;
    height: 2.083333vw;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo__text {
    align-self: flex-end;
}

.logo__name {
    font-size: 1.71875vw;
    line-height: 0.9;
    color: #000;
    margin: 0;
}

.logo__remark {
    display: none;
}

.form {
    font-size: 0;
    display: flex;
    align-items: center;
}

.form__all {
    box-sizing: border-box;
    width: 3.38541667vw;
    height: 1.82291667vw;
    border: none;
    background-color: #f1f1f1;
    color: #777777;
    font-size: 0.83333vw;
    cursor: pointer;
    outline: none;
    text-align: left;
    padding: 0 0.3125vw 0 0.78125vw;
    border-top-left-radius: 0.26041667vw;
    border-bottom-left-radius: 0.26041667vw;
    position: relative;
    &::after {
        display: block;
        content: "";
        background-color: #393939;
        width: 0.520833vw;
        height: 0.3125vw;
        position: absolute;
        top: 0.78125vw;
        right: 0.3645833vw;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }
}

.form__input {
    box-sizing: border-box;
    width: 40.1041667vw;
    height: 1.82291667vw;
    border: none;
    outline: none;
}

.form__search {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 2.55208333vw;
    height: 1.82291667vw;
    border: none;
    background-color: #ffaf2d;
    border-top-right-radius: 0.26041667vw;
    border-bottom-right-radius: 0.26041667vw;
    outline: none;
    cursor: pointer;
    background-image: url(./images/search.png);
    background-size: 1.09375vw 1.09375vw;
    background-repeat: no-repeat;
    background-position: center;
}

.supplier {
    width: 7.291666vw;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.26041667vw;
    font-size: 0.72917vw;
    color: #777777;
}

.supplier__img {
    width: 1.82291667vw;
    height: 1.82291667vw;
    background-image: url(./images/portalpostavschikov.png);
    background-size: 100% 100%;
}

.supplier__text {
    margin: 0;
    align-self: end;
}

.search-mobile {
    display: none;
}

.contacts-mobile {
    display: none;
}

.basket-link {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.520833vw;
    position: relative;
    top: 0.26041667vw;
    text-decoration: none;
}

.basket__img {
    width: 1.51041667vw;
    height: 1.40625vw;
    background-image: url(./images/online-shopping-cart.png);
    background-size: 100% 100%;
    align-self: center;
}

.basket__product-quantity {
    font-size: 0.729166vw;
    margin: 0;
    color: #ff8c00;
    position: relative;
    bottom: 0.625vw;
    left: 0.416666vw;
}

.basket__sum {
    margin: 0;
    font-size: 0.72917vw;
    color: #777777;
}

.basket__number {
    margin: 0;
    font-size: 0.83333vw;
    color: #000;
}

.equipments {
    background-color: #fff;
    box-shadow: 0 0.26041667vw 0.78125vw #e0dddd;
}

.equipments__title {
    display: none;
}

.equipments__container {
    width: 80.5729167vw;
    min-height: 5.208333vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.equipment__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.equipment__img {
    width: 2.96875vw;
    height: 2.96875vw;
    border-radius: 50%;
}

.equipment__name {
    margin: 0;
    font-size: 0.83333vw;
    font-weight: normal;
	font-style: normal;
    color: #343434;
    padding-top: 0.416666vw;
}

.description {
    width: 80.208333vw;
    margin: 0 auto;
    padding-top: 1.04166vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1.04166vw;
}

.description__offers {
    background-color: #fff;
}

.description__title {
    font-size: 1.25vw;
    color: #ffaf2d;
    font-weight: 300;
	font-style: normal;
    margin: 1.71875vw 0 0.9375vw 1.40625vw;
}

.description__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.description__link {
    display: block;
    padding: 0.598958vw 1.04166vw 0.598958vw 1.40625vw;
    border-bottom: 0.0520833vw solid #eee;
    text-decoration: none;
    color: #000;
    font-size: 0.83333vw;
    font-weight: normal;
	font-style: normal;
    &::after {
        content: ">";
        color: #cdcdcd;
        float: right;
    }
}

.swiper {
    position: relative;
}

.slides {
    list-style-type: none;
    position: relative;
}

.slides {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.showing {
    transition: 1s;
    z-index: 1;
}

.slide-one {
    height: 100%;
    background-color: #00aa4b;
}

.slide-two {
    box-sizing: border-box;
    height: 100%;
    background-image: url(./images/swiper.jpg);
    background-size: 100% 100%;
    padding: 3.07291667vw 3.48958333vw;
}

.slide-two__paragraph {
    margin: 0 0 3.75vw;
    color: #777;
    font-size: 0.83333vw;
}

.slide-two__title {
    margin: 0;
    font-size: 2.083333vw;
    font-weight: normal;
	font-style: normal;
    color: #f3f1f1;
}

.slide-two__subtitle {
    margin: 1.19791667vw 0 0;
    font-size: 0.9375vw;
    font-weight: normal;
	font-style: normal;
    color: #f3f1f1;
}

.slide-two__link {
    display: block;
    width: 6.770833vw;
    padding: 0.4427083vw 0;
    margin: 3.229166vw 0 0;
    text-decoration: none;
    color: #fff;
    font-size: 0.9375vw;
    background-color: #ffaf2d;
    text-align: center;
    border-radius: 1.04166vw;
}

.slide-three {
    height: 100%;
    background-color: #ffaf2d;
}

.slide-four {
    height: 100%;
    background-color: #777;
}

.swiper__nav {
    width: 4.166666vw;
    position: absolute;
    left: 21.3541667vw;
    bottom: 1.5625vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper__btn {
    padding: 0;
    width: 0.520833vw;
    height: 0.520833vw;
    border-radius: 50%;
    border: 0.0520833vw solid #fff;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.swiper__btn_on {
    background-color: #fff;
    border: none;
}

.swiper__arrow {
    display: none;
}

.sale {
    padding: 16.8229167vw 1.5625vw 0;
    background-image: url(./images/sale.jpg);
    background-size: 100% 100%;
    box-sizing: border-box;
    border: 0.10416667vw solid #ffaf2d;
}

.sale__paragraph {
    margin: 0;
    font-size: 0.9375vw;
    color: #121212;
    font-weight: normal;
	font-style: normal;
}

.sale__title {
    margin: 0;
    font-size: 2.083333vw;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.sale__link {
    display: block;
    text-decoration: none;
    color: #ffaf2d;
    font-size: 0.9375vw;
    font-weight: normal;
	font-style: normal;
    margin-top: 0.83333vw;
    &::after {
        content: ">";
        padding-left: 0.416666vw;
    }
}

.brands {
    margin: 0;
    padding: 0.78125vw 0;
    background-color: #fff;
    list-style-type: none;
    box-sizing: border-box;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 5.208333vw;
}

.brand {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.0520833vw solid #efeeee;
}

.brand:last-child {
    border: none;
}

.brand__link {
    font-size: 0;
}

.brand__all {
    font-size: 0.9375vw;
    color: #232323;
    text-decoration: none;
}

.brand__img {
    width: 7.5520833vw;
    height: 2.083333vw;
}

.news {
    width: 73.6979167vw;
    margin: 8.85416667vw auto;
}

.news__titile {
    margin: 0 0 1.9270833vw;
    color: #121212;
    font-size: 2.083333vw;
    font-weight: 300;
	font-style: normal;
}

.news__cards {
    display: grid;
    grid-template-columns: 1fr 1.675fr;
    gap: 0.208333vw 5.46875vw;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.news__card_main {
    grid-row: 1 / 4;
}

.news__img {
    float: left;
    height: 8.8541666vw;
    margin-right: 1.04166vw;
}

.news__img_main {
    float: none;
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 1.30208333vw;
}

.news__time {
    display: flex;
    justify-content: space-between;
}

.news__abat {
    margin: 0;
    font-size: 0.83333vw;
    color: #00aa4b;
    font-weight: normal;
	font-style: normal;
}

.news__date {
    margin: 0;
    font-size: 0.83333vw;
    color: #777;
    font-weight: normal;
	font-style: normal;
}

.news__subtitile {
    margin: 0.83333vw 0 1.04166vw;
    font-size: 1.25vw;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.news__paragraph {
    margin: 0;
    font-size: 0.83333vw;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.news__footer {
    margin-top: 2.60416667vw;
}

.news__all {
    box-sizing: border-box;
    display: block;
    width: 8.69791667vw;
    text-decoration: none;
    color: #121212;
    font-size: 0.83333vw;
    padding: 0.30052083vw 1.82291667vw;
    border: 0.10416667vw solid #121212;
    border-radius: 0.9375vw;
}

.recommendations {
    width: 73.6979167vw;
    margin: 0 auto;
    padding-bottom: 8.333333vw;
}

.recommendations__title {
    margin: 0 auto 1.04166vw;
    text-align: center;
    color: #121212;
    font-size: 2.083333vw;
    font-weight: 300;
	font-style: normal;
}

.recommendations__paragraph {
    margin: 0 auto 3.38541667vw;
    width: 31.770833vw;
    text-align: center;
    font-size: 0.83333vw;
    color: #787878;
    font-weight: 300;
	font-style: normal;
}

.recommendations__paragraph_device_mobile {
    display: none;
}

.recommendations__paragraph_in_card {
    margin: 0;
    text-align: left;
}

.recommendations__paragraph_num_one {
    width: 15.625vw;
    margin: 0 auto;
}

.recommendations__paragraph_num_two {
    width: 22.916666vw;
}

.recommendations__paragraph_num_three {
    width: 21.3541667vw;
}

.recommendations__cards {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1.31fr;
    grid-template-rows: 21.8229167vw 16.40625vw;
    gap: 0.520833vw;
}

.recommendations__cards_num_one {
    grid-row: 1 / 3;
    text-align: center;
    background-image: url(./images/recommendations/recommendations1.png);
    background-size: 100% 100%;
    padding-top: 3.28125vw;
}

.recommendations__cards_num_two {
    background-image: url(./images/recommendations/recommendations2.png);
    background-size: 100% 100%;
    padding-top: 5.729166vw;
    padding-left: 12.6041667vw;
}

.recommendations__cards_num_three {
    background-image: url(./images/recommendations/recommendations3.png);
    background-size: 100% 100%;
    padding-top: 4.42708333vw;
    padding-left: 2.8645833vw;
}

.recommendations__name {
    margin: 0 0 0.520833vw;
    color: #121212;
    font-size: 1.04166vw;
    font-weight: 300;
	font-style: normal;
    text-transform: uppercase;
}

.recommendations__name_device_mobile {
    display: none;
}

.recommendations__subtitle {
    margin: 0 0 1.5625vw;
    color: #121212;
    font-size: 1.5625vw;
    font-weight: 300;
	font-style: normal;
}

.recommendations__subtitle_device_mobile {
    display: none;
}

.recommendations__subtitle_num_two {
    width: 10.4166667vw;
}

.recommendations_color_white {
    color: #fff;
}

.recommendations__link {
    display: block;
    margin-top: 1.19791667vw;
    text-decoration: none;
    font-size: 0.83333vw;
    color: #787878;
    font-weight: 300;
	font-style: normal;
    &::after {
        content: ">";
        padding-left: 0.416666vw;
    }
}

.decisions {
    width: 73.6979167vw;
    margin: 0 auto 8.333333vw;
    display: grid;
    grid-template-columns: 2.6fr 1fr;
    gap: 0 11.9791667vw;
}

.decisions__logo {
    margin-top: 2.76041667vw;
}

.decisions__img {
    width: 7.8125vw;
    height: 7.8125vw;
    background-image: url(./images/logo.png);
    background-size: 100% 100%;
    margin-bottom: 1.354166vw;
}

.decisions__title {
    margin: 0 0 1.04166vw;
    color: #121212;
    font-size: 2.083333vw;
    font-weight: 300;
	font-style: normal;
}

.decisions__title_margin_top {
    margin-top: 1.5625vw;
}

.decisions__title_type_logo {
    margin: 0;
    line-height: 0.8;
}

.decisions__remark {
    margin: 0 0 1.5625vw;
    font-size: 0.83333vw;
    color: #777;
    font-weight: 300;
	font-style: normal;
}

.decisions__subtitle {
    margin: 0;
    font-size: 1.25vw;
    color: #171717;
    font-weight: 300;
	font-style: normal;
}

.decisions__paragraph {
    margin: 0;
    font-size: 0.9375vw;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.decisions__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.9375vw;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.decisions__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 2.60416667vw;
    height: 2.60416667vw;
    border-radius: 50%;
    background-color: #232323;
    margin-top: 2.60416667vw;
    font-size: 1.25vw;
    font-weight: 300;
}

.footer-navigation {
    background-color: #232323;
}

.footer-navigation__container {
    width: 73.6979167vw;
    padding: 4.6875vw 0 3.645833vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.25vw;
    color: #777;
    font-style: normal;
}

.footer-navigation__column_device_mobile {
    display: none;
}

.footer-navigation__title {
    font-weight: 300;
    margin: 0 0 1.04166vw;
}

.footer-navigation__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #fff;
    font-size: 0.83333vw;
    font-weight: 300;
}

.footer-navigation__link {
    text-decoration: none;
    color: #fff;
    font-size: 0.83333vw;
    font-weight: 300;
    line-height: 1.5;
}

.footer-navigation__paragraph {
    margin: 0;
}

.footer-navigation__item {
    margin-bottom: 1.04166vw;
}

.copyright {
    background-color: #191919;
    color: #fff;
}

.copyright__container {
    box-sizing: border-box;
    width: 73.6979167vw;
    margin: 0 auto;
    padding: 1.82291667vw 0 0;
    display: flex;
    justify-content: space-between;
    min-height: 5.729166vw;
}

.copyright__logo {
    min-width: 15.625vw;
}

.copyright__img {
    width: 2.083333vw;
    height: 2.083333vw;
    background-image: url(./images/logo.png);
    background-size: 100% 100%;
    float: left;
    margin-right: 0.78125vw;
}

.copyright__text {
    margin: 0;
    font-size: 1.25vw;
    font-weight: 300;
}

.copyright__remark {
    margin: 0;
    font-size: 0.83333vw;
    font-weight: 300;
    color: #787878;
}

.copyright__paragraph {
    margin: 0;
    font-size: 0.9375vw;
    font-weight: 300;
}

.hover:hover {
    transition: 0.7s;
    opacity: 0.6;
}

//mobile

@media screen and (max-width: 767px) {
  .display-none {
      display: none;
  }
  .header {
      display: grid;
      grid-template-rows: auto auto auto;
  }
  .search {
      grid-row: 1;
      background-color: #f1f1f1;
      border-bottom: 0.26075619296vw solid #e7e7e7;
  }
  .search__container {
      box-sizing: border-box;
      width: 92.1773142112vw;
      min-height: 13.037809648vw;
      align-items: end;
      padding: 1.9556714472vw 0;
  }
  .search__menu {
      display: block;
      background-color: transparent;
      width: 9.12646675359vw;
      height: 9.12646675359vw;
      border: none;
      background-image: url(./images/menu.png);
      background-size: 100% 100%;
      cursor: pointer;
      outline: none;
  }
  .search__part {
      width: 49.5436766623vw;
  }
  .logo {
      padding-top: 1.3037809648vw;
      padding-left: 3.91134289439vw;
      gap: 1.3037809648vw;
  }
  .logo__img {
      width: 7.17079530639vw;
      height: 7.17079530639vw;
  }
  .logo__name {
      font-size: 3.91134289439vw;
  }
  .logo__remark {
      display: block;
      color: #777;
      font-size: 2.34680573664vw;
      font-weight: 300;
      margin: 0;
  }
  .search-mobile {
      display: block;
  }
  .contacts-mobile {
      display: block;
  }
  .search-mobile__link {
      display: block;
      width: 6.51890482399vw;
      height: 7.43155149935vw;
      background-image: url(./images/search-green.png);
      background-size: 100% 100%;
      margin-top: 1.17340286832vw;
      margin-right: 5.47588005215vw;
  }
  .contacts-mobile__link {
      display: block;
      width: 6.12777053455vw;
      height: 7.56192959583vw;
      background-image: url(./images/telephone-green.png);
      background-size: 100% 100%;
      margin-top: 1.17340286832vw;
      margin-right: 4.56323337679vw;
  }
  .basket__img { 
      margin-top: 1.9556714472vw;
      width: 7.56192959583vw;
      height: 6.77966101695vw;
      background-image: url(./images/online-shopping-cart-or.png);
  }
  .basket__product-quantity {
      font-size: 3.29204693611vw;
      bottom: 2.6075619296vw;
      left: 2.6075619296vw;
  }
  .navigation__container {
      width: 92.1773142112vw;
      flex-direction: column;
  }
  .nav__list {
      flex-direction: column;
      padding: 3.91134289439vw 0;
      width: 90vw;
  }
  .nav__item {
      width: 100%;
  }
  .nav__link {
      font-size: 3.91134289439vw;
      line-height: 2;
      &::after {
        content: ">";
        float: right;
    }
  }
  .equipments {
      background-color: #f1f1f1;
      box-shadow: none;
  }
  .equipments__title {
      cursor: pointer;
      display: block;
      width: 92.1773142112vw;
      margin: 0 auto;
      padding: 3.25945241199vw 0;
      font-size: 3.91134289439vw;
      font-weight: 300;
      &::after {
        content: ">";
        float: right;
      }
  }
  .equipments__container {
      width: 92.1773142112vw;
      flex-direction: column;
      align-items: flex-start;
  }
  .equipment__link {
      flex-direction: row;
      margin-bottom: 3.91134289439vw;
  }
  .equipment__img {
      width: 9.12646675359vw;
      height: 9.12646675359vw;
  }
  .equipment__name {
      font-size: 3.91134289439vw;
      line-height: 2;
      padding-left: 3.91134289439vw;
  }
  .slide-two {
      background-size: auto 100%;
      background-position: -29vw -3vw;
      padding: 11.0821382008vw 3.91134289439vw 0;
  }
  .slide-two__paragraph {
      font-size: 3.25945241199vw;
      margin-bottom: 6.51890482399vw;
      font-weight: 300;
  }
  .slide-two__title {
      width: 52.1512385919vw;
      font-size: 5.21512385919vw;
      font-weight: 300;
  }
  .slide-two__subtitle {
      font-size: 3.25945241199vw;
      margin-top: 3.52020860495vw;
      font-weight: 300;
  }
  .slide-two__link {
      width: 28.0312907432vw;
      margin-top: 4.82398956975vw;
      font-size: 3.91134289439vw;
      font-weight: 300;
      border-radius: 3.91134289439vw;
      padding: 1.04302477184vw;
  }
  .swiper__nav {
      width: 16.9491525424vw;
      bottom: 5.21512385919vw;
      left: 50%;
      transform: translateX(-50%);
  }
  .swiper__btn {
      width: 1.9556714472vw;
      height: 1.9556714472vw;
  }
  .description {
      padding: 0;
      width: 100vw;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 72.3598435463vw 61.9295958279vw auto;
      gap: 3.25945241199vw;
  }
  .swiper {
      grid-column: 1 / 3; 
  }
  .swiper__arrow {
      display: block;
      position: absolute;
      background-color: transparent;
      border: none;
      width: 1.56453715776vw;
      height: 3.38983050847vw;
      background-image: url(./images/_.png);
      background-size: 100% 100%;
      cursor: pointer;
  }
  .swiper__arrow_position_left {
      left: -37.4185136897vw;
  }
  .swiper__arrow_position_right {
      right: -37.4185136897vw;
      transform: rotate(180deg);
  }
  .sale {
      grid-column: 1 / 3;
      margin: 0 3.25945241199vw;
  }
  .brands {
      background-color: transparent;
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.39113428943vw 0;
      height: 66.7535853977vw;
      margin: 0 3.25945241199vw;
      padding: 0;
  }
  .brand {
      background-color: #fff;
      border-right: none;
  }
  .sale {
      background-image: url(./images/gift.png);
      padding: 32.333767927vw 7.82268578879vw 0;
  }
  .sale__paragraph {
      font-size: 3.25945241199vw;
      font-weight: 300;
  }
  .sale__title {
      font-size: 6.51890482399vw;
  }
  .sale__link {
      font-size: 3.91134289439vw;
      font-weight: 300;
      margin-top: 4.56323337679vw;
      &::after {
          margin-left: 1.9556714472vw;
      }
  }
  .brand:nth-child(1) {
      position: relative;
      &::after {
          content: "";
          display: block;
          height: 15.3846153846vw;
          width: 0.26075619296vw;
          background-color: #efefef;
          position: absolute;
          right: 0;
      }
  }
  .brand:nth-child(3) {
      position: relative;
      &::after {
          content: "";
          display: block;
          height: 15.3846153846vw;
          width: 0.26075619296vw;
          background-color: #efefef;
          position: absolute;
          right: 0;
      }
  }
  .brand:nth-child(5) {
      position: relative;
      &::after {
          content: "";
          display: block;
          height: 15.3846153846vw;
          width: 0.26075619296vw;
          background-color: #efefef;
          position: absolute;
          right: 0;
      }
  }
  .brand__img {
      width: 27.3794002608vw;
      height: 7.82268578879vw;
  }
  .brand__all {
      font-size: 3.91134289439vw;
      font-weight: 300;
  }
  .recommendations__title {
      margin: 19.556714472vw auto 3.91134289439vw;
      font-size: 6.51890482399vw;
}
  .recommendations__paragraph {
      margin: 0 auto 9.77835723598vw;
      width: 84.7457627119vw;
      font-size: 3.91134289439vw;
}
  .recommendations {
      width: 100vw;
      margin: 0 0 19.556714472vw;
  }
  .recommendations__cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 62.5814863103vw);
      gap: 1.3037809648vw 0;
      margin: 0 3.25945241199vw;
  }
  .recommendations__cards_num_one {
      text-align: left;
      grid-row: 1;
      background-image: url(./images/recommendations/mobile/recommendations1-mobile.png);
      padding: 14.3415906128vw 0 0 7.82268578879vw;
  }
  .recommendations__cards_num_two {
      background-image: url(./images/recommendations/mobile/recommendations2-mobile.png);
      padding: 9.12646675359vw 0 0 35.8539765319vw;
  }
  .recommendations__cards_num_three {
      background-image: url(./images/recommendations/mobile/recommendations3-mobile.png);
      padding: 17.9921773142vw 0 0 8.47457627119vw;
  }
  .recommendations__paragraph_in_card {
      margin: 0 0 4.56323337679vw;
      width: 43.0247718383vw;
      font-size: 3.25945241199vw;
  }
  .recommendations__paragraph_num_two {
      width: 50.8474576271vw;
  }
  .recommendations__paragraph_device_mobile {
      display: block;
  }
  .recommendations__paragraph_device_desctop {
      display: none;
  }
  .recommendations__name {
      font-size: 3.91134289439vw;
      margin-bottom: 2.21642764016vw;
  }
  .recommendations__name_device_mobile {
      display: block;
  }
  .recommendations__name_device_desctop {
      display: none;
  }
  .recommendations__subtitle {
      font-size: 5.21512385919vw;
      margin-bottom: 3.91134289439vw;
  }
  .recommendations__subtitle_device_mobile {
      display: block;
  }
  .recommendations__subtitle_device_desctop {
      display: none;
  }
  .recommendations__link {
      font-size: 3.25945241199vw;
      &::after {
          margin-left: 0.91264667535vw;
      }
  }
  .decisions {
      width: 92.1773142112vw;
      grid-template-columns: 1fr;
      margin-bottom: 19.556714472vw;
  }
  .decisions__two {
      margin: 0 6.51890482399vw;
      grid-row: 1;
  }
  .decisions__logo {
      margin: 0;
  }
  .decisions__img {
      width: 32.5945241199vw;
      height: 32.5945241199vw;
      margin-bottom: 7.82268578879vw;
  }
  .decisions__title {
      font-size: 6.51890482399vw;
      margin-bottom: 7.82268578879vw;
  }
  .decisions__title_type_logo {
      margin-bottom: 0;
  }
  .decisions__remark {
      font-size: 3.91134289439vw;
      margin-bottom: 7.82268578879vw;
  }
  .decisions__subtitle {
      font-size: 5.21512385919vw;
  }
  .decisions__list {
      font-size: 3.91134289439vw;
      margin-bottom: 18.2529335072vw;
  }
  .decisions__paragraph {
      font-size: 3.91134289439vw;
  }
  .decisions__link {
      width: 13.037809648vw;
      height: 13.037809648vw;
      font-size: 6.51890482399vw;
      margin-top: 11.7340286832vw;
  }
  .footer-navigation__container {
      width: 88.2659713168vw;
      flex-direction: column;
      padding: 10.4302477184vw 0 9.12646675359vw;
  }
  .footer-navigation__column_device_mobile {
      display: block;
  }
  .footer-navigation__title {
      line-height: 2.70;
      font-size: 3.91134289439vw;
      margin-bottom: 0;
      color: #fff;
      border-bottom: 0.13037809648vw solid #4b4b4b;
      &:last-child {
          border-bottom: none;
      }
      &::after {
          content: "+";
          float: right;
      }
  }
  .footer-navigation__list {
      padding: 6.51890482399vw 0;
  }
  .footer-navigation__link {
      font-size: 3.25945241199vw;
      line-height: 2.50;
  }
  .copyright__container {
      width: 88.2659713168vw;
      flex-direction: column;
      padding: 5.21512385919vw 0;
  }
  .copyright__img {
      width: 11.7340286832vw;
      height: 11.7340286832vw;
      margin-right: 2.6075619296vw;
  }
  .copyright__text {
      font-size: 6.51890482399vw;
  }
  .copyright__remark {
      font-size: 3.91134289439vw;
      line-height: 0.8;
  }
  .copyright__paragraph {
      font-size: 5.21512385919vw;
      margin-top: 3.91134289439vw;
  }
}