.root {
    margin: 0;
    padding: 0;
    background-color: #f4f2f2;
}

.page {
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
	font-family: 'Myriad Pro';
    color: #000;
}

.navigation {
    background-color: #00aa4b;
}

.navigation__container {
    width: 1547px;
    min-height: 48px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
	font-style: normal;
}

.nav__list {
    width: 1195px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
	font-style: normal;
}

.contacts {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.contacts__description {
    margin: 0;
    align-self: flex-end;
}

.contacts__img {
    align-self: center;
}

.contacts__img_type_email {
    width: 22px;
    height: 15px;
    background-image: url(./images/email.png);
    background-position: center;
}

.contacts__img_type_telephone {
    width: 16px;
    height: 20px;
    background-image: url(./images/telephone.png);
    background-position: center;
}

.search {
    background-color: #e8e7e7;
}

.search__container {
    width: 1547px;
    min-height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__part {
    width: 1195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 7px;
    text-decoration: none;
}

.logo__img {
    width: 40px;
    height: 40px;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo__text {
    align-self: flex-end;
    font-size: 33px;
    line-height: 0.9;
    color: #000;
    text-decoration: none;
    margin: 0;
}

.form {
    font-size: 0;
    display: flex;
    align-items: center;
}

.form__all {
    box-sizing: border-box;
    width: 65px;
    height: 35px;
    border: none;
    background-color: #f1f1f1;
    color: #777777;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-align: left;
    padding: 0 6px 0 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    &::after {
        display: block;
        content: "";
        background-color: #393939;
        width: 10px;
        height: 6px;
        position: absolute;
        top: 15px;
        right: 7px;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }
}

.form__input {
    box-sizing: border-box;
    width: 770px;
    height: 35px;
    border: none;
    outline: none;
}

.form__search {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 49px;
    height: 35px;
    border: none;
    background-color: #ffaf2d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    cursor: pointer;
    background-image: url(./images/search.png);
    background-repeat: no-repeat;
    background-position: center;
}

.supplier {
    max-width: 140px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    font-size: 14px;
    color: #777777;
}

.supplier__img {
    width: 35px;
    height: 35px;
    background-image: url(./images/portalpostavschikov.png);
    background-size: 100% 100%;
}

.supplier__text {
    margin: 0;
    align-self: end;
}

.basket-link {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    position: relative;
    top: 5px;
    text-decoration: none;
}

.basket__img {
    width: 29px;
    height: 27px;
    background-image: url(./images/online-shopping-cart.png);
    background-size: 100% 100%;
    align-self: center;
}

.basket__product-quantity {
    font-size: 14;
    margin: 0;
    color: #ff8c00;
    position: relative;
    bottom: 12px;
    left: 8px;
}

.basket__sum {
    margin: 0;
    font-size: 14px;
    color: #777777;
}

.basket__number {
    margin: 0;
    font-size: 16px;
    color: #000;
}

.equipments {
    background-color: #fff;
    box-shadow: 0 5px 15px #e0dddd;
}

.equipments__container {
    width: 1547px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.equipment__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.equipment__img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.equipment__name {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
	font-style: normal;
    color: #343434;
    padding-top: 8px;
}

.description {
    width: 1540px;
    margin: 0 auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
}

.description__offers {
    background-color: #fff;
}

.description__title {
    font-size: 24px;
    color: #ffaf2d;
    font-weight: 300;
	font-style: normal;
    margin: 33px 0 18px 27px;
}

.description__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.description__link {
    display: block;
    padding: 11.5px 20px 11.5px 27px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: normal;
	font-style: normal;
    &::after {
        content: ">";
        color: #cdcdcd;
        float: right;
    }
}

.swiper {
    position: relative;
}

.slides {
    list-style-type: none;
    position: relative;
}

.slides {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.showing {
    transition: 1s;
    z-index: 1;
}

.slide-one {
    height: 100%;
    background-color: #00aa4b;
}

.slide-two {
    box-sizing: border-box;
    height: 100%;
    background-image: url(./images/swiper.jpg);
    padding: 59px 67px;
}

.slide-two__paragraph {
    margin: 0 0 72px;
    color: #777;
    font-size: 16px;
}

.slide-two__title {
    margin: 0;
    font-size: 40px;
    font-weight: normal;
	font-style: normal;
    color: #f3f1f1;
}

.slide-two__subtitle {
    margin: 23px 0 0;
    font-size: 18px;
    font-weight: normal;
	font-style: normal;
    color: #f3f1f1;
}

.slide-two__link {
    display: block;
    width: 130px;
    padding: 8.5px 0;
    margin: 62px 0 0;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #ffaf2d;
    text-align: center;
    border-radius: 20px;
}

.slide-three {
    height: 100%;
    background-color: #ffaf2d;
}

.slide-four {
    height: 100%;
    background-color: #777;
}

.swiper__nav {
    width: 80px;
    position: absolute;
    left: 410px;
    bottom: 30px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper__btn {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.swiper__btn_on {
    background-color: #fff;
    border: none;
}

.sale {
    padding: 323px 30px 0;
    background-image: url(./images/sale.jpg);
    box-sizing: border-box;
    border: 2px solid #ffaf2d;
}

.sale__paragraph {
    margin: 0;
    font-size: 18px;
    color: #121212;
    font-weight: normal;
	font-style: normal;
}

.sale__title {
    margin: 0;
    font-size: 40px;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.sale__link {
    display: block;
    text-decoration: none;
    color: #ffaf2d;
    font-size: 18px;
    font-weight: normal;
	font-style: normal;
    margin-top: 16px;
    &::after {
        content: ">";
        padding-left: 8px;
    }
}

.brands {
    margin: 0;
    padding: 15px 0;
    background-color: #fff;
    list-style-type: none;
    box-sizing: border-box;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100px;
}

.brand {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #efeeee;
}

.brand:last-child {
    border: none;
}

.brand__all {
    font-size: 18px;
    color: #232323;
    text-decoration: none;
}

.news {
    width: 1415px;
    margin: 170px auto;
}

.news__titile {
    margin: 0 0 37px;
    color: #121212;
    font-size: 40px;
    font-weight: 300;
	font-style: normal;
}

.news__cards {
    display: grid;
    grid-template-columns: 1fr 1.675fr;
    gap: 45px 105px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.news__card_main {
    grid-row: 1 / 4;
}

.news__img {
    float: left;
    height: 100%;
    margin-right: 20px;
}

.news__img_main {
    float: none;
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
}

.news__time {
    display: flex;
    justify-content: space-between;
}

.news__abat {
    margin: 0;
    font-size: 16px;
    color: #00aa4b;
    font-weight: normal;
	font-style: normal;
}

.news__date {
    margin: 0;
    font-size: 16px;
    color: #777;
    font-weight: normal;
	font-style: normal;
}

.news__subtitile {
    margin: 16px 0 20px;
    font-size: 24px;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.news__paragraph {
    margin: 0;
    font-size: 16px;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.news__footer {
    margin-top: 50px;
}

.news__all {
    box-sizing: border-box;
    display: block;
    width: 167px;
    text-decoration: none;
    color: #121212;
    font-size: 16px;
    padding: 5.77px 35px;
    border: 2px solid #121212;
    border-radius: 18px;
}

.recommendations {
    width: 1415px;
    margin: 0 auto;
    padding-bottom: 160px;
}

.recommendations__title {
    margin: 0 auto 20px;
    text-align: center;
    color: #121212;
    font-size: 40px;
    font-weight: 300;
	font-style: normal;
}

.recommendations__paragraph {
    margin: 0 auto 65px;
    width: 610px;
    text-align: center;
    font-size: 16px;
    color: #787878;
    font-weight: 300;
	font-style: normal;
}

.recommendations__paragraph_in_card {
    margin: 0;
    text-align: left;
}

.recommendations__paragraph_num_one {
    width: 300px;
    margin: 0 auto;
}

.recommendations__paragraph_num_two {
    width: 440px;
}

.recommendations__paragraph_num_three {
    width: 410px;
}

.recommendations__cards {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1.31fr;
    grid-template-rows: 419px 315px;
    gap: 10px;
}

.recommendations__cards_num_one {
    grid-row: 1 / 3;
    text-align: center;
    background-image: url(./images/recommendations/recommendations1.png);
    background-size: 100% 100%;
    padding-top: 63px;
}

.recommendations__cards_num_two {
    background-image: url(./images/recommendations/recommendations2.png);
    background-size: 100% 100%;
    padding-top: 110px;
    padding-left: 242px;
}

.recommendations__cards_num_three {
    background-image: url(./images/recommendations/recommendations3.png);
    background-size: 100% 100%;
    padding-top: 85px;
    padding-left: 55px;
}

.recommendations__name {
    margin: 0 0 10px;
    color: #121212;
    font-size: 20px;
    font-weight: 300;
	font-style: normal;
    text-transform: uppercase;
}

.recommendations__subtitle {
    margin: 0 0 30px;
    color: #121212;
    font-size: 30px;
    font-weight: 300;
	font-style: normal;
}

.recommendations__subtitle_num_two {
    width: 200px;
}

.recommendations_color_white {
    color: #fff;
}

.recommendations__link {
    display: block;
    margin-top: 23px;
    text-decoration: none;
    font-size: 16px;
    color: #787878;
    font-weight: 300;
	font-style: normal;
    &::after {
        content: ">";
        padding-left: 8px;
    }
}

.decisions {
    width: 1415px;
    margin: 0 auto 160px;
    display: grid;
    grid-template-columns: 2.6fr 1fr;
    gap: 0 230px;
}

.decisions__logo {
    margin-top: 53px;
}

.decisions__img {
    width: 150px;
    height: 150px;
    background-image: url(./images/logo.png);
    background-size: 100% 100%;
    margin-bottom: 26px;
}

.decisions__title {
    margin: 0 0 20px;
    color: #121212;
    font-size: 40px;
    font-weight: 300;
	font-style: normal;
}

.decisions__title_margin_top {
    margin-top: 30px;
}

.decisions__title_type_logo {
    margin: 0;
    line-height: 0.8;
}

.decisions__remark {
    margin: 0 0 30px;
    font-size: 16px;
    color: #777;
    font-weight: 300;
	font-style: normal;
}

.decisions__subtitle {
    margin: 0;
    font-size: 24px;
    color: #171717;
    font-weight: 300;
	font-style: normal;
}

.decisions__paragraph {
    margin: 0;
    font-size: 18px;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.decisions__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #121212;
    font-weight: 300;
	font-style: normal;
}

.decisions__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #232323;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 300;
}

.footer-navigation {
    background-color: #232323;
}

.footer-navigation__container {
    width: 1415px;
    padding: 90px 0 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #777;
    font-style: normal;
}

.footer-navigation__title {
    font-weight: 300;
    margin: 0 0 20px;
}

.footer-navigation__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.footer-navigation__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.footer-navigation__paragraph {
    margin: 0;
}

.footer-navigation__item {
    margin-bottom: 20px;
}

.copyright {
    background-color: #191919;
    color: #fff;
}

.copyright__container {
    box-sizing: border-box;
    width: 1415px;
    margin: 0 auto;
    padding: 35px 0 0;
    display: flex;
    justify-content: space-between;
    min-height: 110px;
}

.copyright__logo {
    min-width: 300px;
}

.copyright__img {
    width: 40px;
    height: 40px;
    background-image: url(./images/logo.png);
    background-size: 100% 100%;
    float: left;
    margin-right: 15px;
}

.copyright__text {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

.copyright__remark {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #787878;
}

.copyright__paragraph {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}