.recommendations__cards_num_one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    text-align: center;
    background-image: url(../../../../images/recommendations/recommendations1.png);
    background-size: 100% 100%;
    padding-top: 3.28125vw;
}

@media screen and (max-width: 767px) {
    .recommendations__cards_num_one {
      text-align: left;
      -ms-grid-row: 1;
      grid-row: 1;
      background-image: url(../../../../images/recommendations/mobile/recommendations1-mobile.png);
      padding: 14.3415906128vw 0 0 7.82268578879vw;
    }
}  
  