.decisions__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.9375vw;
    color: #121212;
    font-weight: 300;
    font-style: normal;
}

@media screen and (max-width: 767px) {
    .decisions__list {
      font-size: 3.91134289439vw;
      margin-bottom: 18.2529335072vw;
    }
}
  