.equipments__title {
    display: none;
}

@media screen and (max-width: 767px) {
    .equipments__title {
      cursor: pointer;
      display: block;
      width: 92.1773142112vw;
      margin: 0 auto;
      padding: 3.25945241199vw 0;
      font-size: 3.91134289439vw;
      font-weight: 300;
    }
    .equipments__title::after {
      content: ">";
      float: right;
    }  
}  
  