.contact-form__btn {
    height: 3.5vw;
    width: 3.5vw;
    border: none;
    border-radius: 50%;
    background-color: #00aa4b;
    margin: 0 auto 3vw;
    color: #fff;
    font-size: 1.25vw;
    cursor: pointer;
}
  
@media screen and (max-width: 767px) {
    .contact-form__btn {
      height: 15vw;
      width: 15vw;
      margin: 0 auto 7vw;
      font-size: 3.51134289439vw;
    }
}