.contacts__img_type_email {
    width: 1.14583333vw;
    height: 0.78125vw;
    background-image: url(../../../../images/email.png);
    background-size: 100% 100%;
    background-position: center;
}
  