.equipment__img {
    width: 2.96875vw;
    height: 2.96875vw;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .equipment__img {
      width: 9.12646675359vw;
      height: 9.12646675359vw;
    }
}  
  