.recommendations__paragraph_in_card {
    margin: 0;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .recommendations__paragraph_in_card {
      font-size: 3.25945241199vw;
    }
}  
  